body {
    margin: 0;
    line-height: normal;
  }
  .desktop-1-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
    width: 1920px;
    height: 85px;
    overflow: hidden;
  }
  .tuber1 {
    color: var(--color-royalblue);
  }
  .ai-powered-transcriber,
  .learntuber1 {
    position: absolute;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .learntuber1 {
    top: 18px;
    left: 372px;
    font-weight: 600;
  }
  .ai-powered-transcriber {
    top: 96px;
    left: 78px;
    font-size: 32px;
    font-weight: 500;
    opacity: 0.8;
  }
  .learntuber-parent {
    position: absolute;
    top: 115px;
    left: 460px;
    width: 1000px;
    height: 166px;
    overflow: hidden;
  }
  .learntuber2 {
    position: absolute;
    top: 23px;
    left: 50px;
    font-weight: 600;
  }
  .learntuber-container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 315px;
    height: 85px;
    overflow: hidden;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
  }
  .frame-input,
  .summarize {
    position: absolute;
    font-size: var(--font-size-lg);
    font-family: var(--font-noto-sans);
  }
  .frame-input {
    border: 0;
    font-weight: 500;
    background-color: var(--color-white);
    top: 21px;
    left: 58px;
    border-radius: var(--br-md);
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.25);
    width: 834px;
    height: 100px;
    overflow: hidden;
    mix-blend-mode: normal;
  }
  .summarize {
    top: 18px;
    left: 45px;
    font-weight: 600;
    color: var(--color-white);
    text-align: left;
  }
  .frame-parent,
  .summarize-wrapper {
    position: absolute;
    border-radius: var(--br-md);
    overflow: hidden;
  }
  .summarize-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-royalblue);
    top: 141px;
    left: 325px;
    box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 90px;
  }
  .frame-parent {
    top: 331px;
    left: 485px;
    background-color: var(--color-gainsboro);
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.25);
    width: 950px;
    height: 260px;
  }
  .generate-quiz {
    position: absolute;
    top: 15px;
    left: 17px;
    font-size: var(--font-size-lg);
    font-weight: 600;
    font-family: var(--font-noto-sans);
    color: var(--color-white);
    text-align: left;
  }
  .desktop-1-item,
  .generate-quiz-wrapper {
    position: absolute;
    border-radius: var(--br-md);
    overflow: hidden;
  }
  .generate-quiz-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-royalblue);
    top: 972px;
    left: 1565px;
    box-shadow: 0 13px 10px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 84px;
  }
  .desktop-1-item {
    top: 641px;
    left: 485px;
    background-color: var(--color-gainsboro);
    box-shadow: 0 18px 10px rgba(0, 0, 0, 0.25);
    width: 950px;
    height: 415px;
  }
  .desktop-1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: var(--color-gray-100);
    font-family: var(--font-noto-sans);
  }
  :root {
    /* fonts */
    --font-noto-sans: "Noto Sans";
  
    /* font sizes */
    --font-size-base: 36px;
    --font-size-lg: 40px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-royalblue: #727cf7;
    --color-gray-100: #1e1e1e;
    --color-gray-200: #111;
    --color-gainsboro: #e1e1e1;
  
    /* border radiuses */
    --br-sm: 30px;
    --br-md: 35px;
    --br-lg: 40px;
  }
  