body {
    margin: 0;
    line-height: normal;
  }
  .desktop-2-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
    width: 1920px;
    height: 85px;
    overflow: hidden;
  }
  .tuber {
    color: var(--color-royalblue);
  }
  .learntuber {
    position: absolute;
    top: 23px;
    left: 50px;
    font-weight: 600;
  }
  .learntuber-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-lg);
    background-color: var(--color-white);
    width: 315px;
    height: 85px;
    overflow: hidden;
    color: var(--color-gray-200);
  }
  .what-is-the {
    margin: 0;
    position: absolute;
    top: 34px;
    left: 74px;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    opacity: 0.5;
  }
  .frame-child,
  .frame-div,
  .frame-inner,
  .frame-item {
    position: absolute;
    top: 104px;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    width: 217px;
    height: 49px;
    overflow: hidden;
  }
  .frame-child {
    cursor: pointer;
    border: 0;
    padding: 0;
    left: 74px;
  }
  .frame-item {
    left: 1282px;
  }
  .frame-inner {
    left: 858px;
  }
  .frame-div {
    left: 435px;
  }
  .what-is-the-color-of-apple-parent {
    position: absolute;
    top: 114px;
    left: 172px;
    border-radius: var(--br-md);
    background: linear-gradient(#e1e1e1, #e1e1e1),
      linear-gradient(#e1e1e1, #e1e1e1), linear-gradient(#e1e1e1, #e1e1e1),
      #e1e1e1;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.25);
    width: 1576px;
    height: 163px;
    overflow: hidden;
  }
  .what-is-the1 {
    position: absolute;
    top: 34px;
    left: 74px;
    font-weight: 600;
    opacity: 0.5;
  }
  .frame-child1 {
    position: absolute;
    top: 104px;
    left: 74px;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    width: 217px;
    height: 49px;
    overflow: hidden;
  }
  .what-is-the-color-of-apple-container {
    position: absolute;
    left: 172px;
    border-radius: var(--br-md);
    background: linear-gradient(#e1e1e1, #e1e1e1),
      linear-gradient(#e1e1e1, #e1e1e1), linear-gradient(#e1e1e1, #e1e1e1),
      #e1e1e1;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.25);
    width: 1576px;
    height: 163px;
    overflow: hidden;
  }
  .what-is-the-color-of-apple-group {
    top: 882px;
  }
  .what-is-the-color-of-apple-group,
  .what-is-the-color-of-apple-parent1,
  .what-is-the-color-of-apple-parent2 {
    position: absolute;
    left: 172px;
    border-radius: var(--br-md);
    background: linear-gradient(#e1e1e1, #e1e1e1),
      linear-gradient(#e1e1e1, #e1e1e1), linear-gradient(#e1e1e1, #e1e1e1),
      #e1e1e1;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.25);
    width: 1576px;
    height: 163px;
    overflow: hidden;
  }
  .what-is-the-color-of-apple-container {
    top: 690px;
  }
  .what-is-the-color-of-apple-parent1 {
    top: 498px;
  }
  .what-is-the-color-of-apple-parent2 {
    top: 306px;
  }
  .desktop-2 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-noto-sans);
  }
  :root {
    /* fonts */
    --font-noto-sans: "Noto Sans";
  
    /* font sizes */
    --font-size-base: 36px;
    --font-size-lg: 40px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-royalblue: #727cf7;
    --color-gray-100: #1e1e1e;
    --color-gray-200: #111;
    --color-gainsboro: #e1e1e1;
  
    /* border radiuses */
    --br-sm: 30px;
    --br-md: 35px;
    --br-lg: 40px;
  }
    